%br
= form_for @score do |f|
  .text-center=@score.team
  %table.table.table-bordered
    %tr
      %th.text-center
        Blair
      %th.text-center
        Peddie
    %tr
      %td
        = f.number_field :blairScore, class: "form-score"
      %td
        = f.number_field :peddieScore, class: "form-score"
  %br
  .form-group
    = f.check_box :active
    Game is still active
  %br
  .actions
    = f.submit 'Save Score', class: "btn btn-success btn-block"
