= form_for @score do |f|
  .field
    = f.label :team, class: "label"
    = f.text_field :team, class: "form-control"
  .field
    = f.label :blairScore, "Blair", class: "label"
    = f.number_field :blairScore, class: "form-control"
  .field
    = f.label :peddieScore, "Peddie", class: "label"
    = f.number_field :peddieScore, class: "form-control"
  .field
    = f.label :active, "Game is active", class: "label"
    = f.check_box :active, class: "form-control"
  .actions
    = f.submit 'Save', class: "btn btn-success btn-block"
