.header-bar
  %h1.text-center Result
%p.text-success#notice= notice

%p
  %b Team:
  = @score.team
%p
  %b Blair:
  = @score.blairScore
%p
  %b Peddie:
  = @score.peddieScore
%p
  %b Game is still active:
  - if @score.active == true
    Yes
  - else
    No

%br
= link_to 'Edit', edit_score_path(@score), class: "btn btn-lg btn-default btn-block"
%br
= link_to 'Back', {controller: :scores, action: :admin}, class: "btn btn-lg btn-primary btn-block"
